/* Actions */
.msf .btn-toolbar {
    justify-content: center;
}

.msf .btn-toolbar .action {
    margin-left: 1em;
    margin-right: 1em;
}

.msf-step-prev {
    order: 1;
}

.msf-step-next {
    order: 2;
}

/* stacks are applied to FieldGroup */
form div.field.CompositeField.msf-stack {
    margin-bottom: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
form div.field.CompositeField.msf-stack div.fieldgroup-field {
    margin-bottom: 0;
}
.msf-stack.field input {
    border-radius: 0;
    position: relative;
}
.msf-stack.field .first input {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.msf-stack.field .last input {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/* steps */

.msf-steps {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.msf-steps a {
    font-size: 80%;
    margin: 0 1rem;
    padding: 0 1em;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    position: relative;
}

.msf-steps a:after {
    content: "";
    height: 2px;
    background: inherit ;
    width: 2rem;
    display: inline-block;
    position: absolute;
    top: calc(50% - 1px);
    left: -2rem;
}

.msf-steps a:first-child:after {
    display: none;
}
